* {
    background: #2E2B54;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 63px;
    background: #215E79;
    flex-direction: column;
    width: 400px;
    max-width: 80%; 
    height: 400px;
    flex-shrink: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

h3 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    color: #321746;
    font-family: 'Kadwa', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #215E79;
}

.inputbox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 250px;
    background: #D9D9D9;
    border: 0;
    width: 60%;
    height: 10%;
    padding-left: 10px;
}

.join {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 250px;
    background: #D9D9D9;
    border: 0;
    width: 60%;
    height: 10%;
    padding-left: 10px;
}

.join-btn {
    position: absolute;
    top: 70%;
    left: 25%;
    border-radius: 200px;
    background: #D9D9D9;
    border: 0;
    width: 20%;
    height: 10%;
}

.join-btn:hover {
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.join-btn:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.create-btn {
    position: absolute;
    top: 70%;
    right: 25%;
    border-radius: 200px;
    background: #D9D9D9;
    border: 0;
    width: 20%;
    height: 10%;
}

.create-btn:hover {
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.create-btn:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.error {
    background: #215E79;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: red; 
}

.create {
    width: 100%;
}

/* ROOM STYLING BEGINS FROM HERE*/


.message-box {
    border: none;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
   
}


.message-box h2{
    background: #215E79;
}

.inputs{
    background: #215E79;
    justify-content: center;
}

#send-btn {
    width: 10%;
    background: white;
    border-radius: 20px;
    height: 4.4vh;
    border: none;
    transition: box-shadow 0.3s ease;
}

#send-btn:hover {
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#send-btn:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}


.messages {
    background: #215E79;
    overflow-y: auto;
    flex: 1;
    width: 100%;
}
.messages::-webkit-scrollbar {
    width: 12px; 
}
.messages::-webkit-scrollbar-track {
    background-color: #215E79; 
}
.messages::-webkit-scrollbar-thumb {
    background-color: #1D7186; 
    border-radius: 6px; 
    border: 3px solid #215E79; 
}
.messages::-webkit-scrollbar-thumb:hover {
    background-color: #155769;
}
.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
}

#message {
    margin-right: 2%;
    width: 80%;
    background: white;
    border-radius: 20px;
    height: 4vh;
    padding-left: 10px;

}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background: #215E79;
    color: white;
}

.text span {
    background: #215E79;
}

.text span strong{
    background: #215E79;
}
  
.muted {
    font-size: 10px;
  }

#blueblur{
    background: #1D7186;
    filter: blur(126px);
}

#purpleblur {
    border-radius: 381px;
    background: #350B3E;
    filter: blur(90px);
}

.e1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    border-radius: 381px;
    
}

.e2 {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 20%;
    height: 20%;
    border-radius: 381px;
}

.e3 {
    position: absolute;
    bottom: 10%;
    right: 30%;
    width: 20%;
    height: 20%;
    border-radius: 381px;
}

.e4 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 20%;
}

.e5 {
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: 20%;
    height: 20%;
}

.exit-btn {
    display: block;
    position: absolute;
    bottom: -20%;
    margin-top: 10px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    background-color: #D9D9D9;
    color: #215E79;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.exit-btn:hover {
    background-color: #1D7186;
    color: white;
}

