{% extends 'base.html' %} 
{% block content %}
<form method="post" class="button">
    <h3>Enter The Chat Room</h3>
    <div>
        <input class="inputbox" type="text" placeholder="Pick a name!" name="name" value="{{name}}"/>
    </div>
    <div>
        <input class="join" type="text" placeholder="Room Code" name="code" value="{{code}}"/>
    </div>
    <button type="submit" name="join" class="join-btn">JOIN</button>
    <button type="submit" name="create" class="create-btn">CREATE</button>
    {% if error %}
    <ul>
        <li class="error">{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}